<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>CDA Management</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../../images/favicon.ico" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="auth/css/auth.css"></link>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Management</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Site Management</h3>
                <strong>Testimonials</strong><br />
            </div>
        </div>
    </div>
    <div>
    <p><a href="/profile">Back</a></p>
    </div>
</body>
</html>
