<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
  <head>
      <title>CDA Management</title>
      <meta charset="utf-8" />
      <link rel="icon" type="image/png" href="../../images/favicon.ico" />
      <meta name="viewport" content="width = device-width, initial-scale = 1" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="auth/css/auth.css"></link>
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"></link>
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  </head>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <%# <p>Need an account? <a href="/signup">Signup</a></p>%>
    <p><a href="/">HOME</a></p>

</div>

</div>
</body>
</html>
