* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #EDECEC !important;
  padding-top:80px;
  word-wrap:break-word;
}

strong{
  font-size: 15px;
}

.manage-links{
  display: flex;
  text-align: right;
  font-size: 12px;
}

input{
  width: auto;
}

textarea{
  font-family: inherit;
  font-size: inherit;
}
