<div class = "col-md-4 test-container">
  <div class = "btn-road-test">
    <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
  </div>
  <!-- <a href = "registration" class ="special-register">
    <div class = "package-bold">
      <h2 class = "text red">Christmas Special</h6>
      <ul class = "text special">
        <li class = "text bold list-none">
          Full Course $460 Incl. Tax
        </li>
        <li class = "text bold list-none">
          Call Now (519) 880-0030
        </li>
        <li class = "text bold list-none">
          Limited Seats Available!
        </li>
      </ul>
    </div>
  </a> -->
</div>
