<!-- Nav-bar -->
<div class = "container">
  <div class = "row">
    <div class ="col-md-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/eng/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eng/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eng/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eng/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eng/registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eng/testimonials">Testimonials</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/eng/questions">QnA</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/eng/contact-us">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
