<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <a href = "/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonials">Testimonials</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/questions">QnA</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
          <div class = "special-offers">
            <img src = "/images/special-offer-.png" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-5">
          <h4 class = "text red">Contact Us</h4>
          <h6 class = "text bold">Address:</h6>
          <p class = "text">
            285 Weber St. North Unit #1A<br />
            Waterloo, Ontario <br />
            N2J 3H8
          </p>
          <h6 class = "text bold">Phone Number:</h6>
          <p class = "text">
            (519) 880-0030
          </p>
          <h6 class = "text bold">Email:</h6>
          <p class = "text">
            Canadiandrivingacademy@gmail.com
          </p>
          <h6 class = "text bold">Have a specific instructor in mind?</h6>
          <p class = "text">
            Wei Li: (226) 600 0836 <br />WeChat ID: CanadianDA
          </p>
           <div id="map"></div>
        </div>
        <div class = "col-md-3">
            <img class = "civic-intro" src = "/images/civic.png"/>
            <img class = "classroom-intro" src = "/images/front-door.png" />
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class ="col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
      </div>
    </div>
  </section>
  <script>
      function initMap() {
        var cda = {lat: 43.480543, lng: -80.522755};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: cda
        });
        var contentString = '<h6 class = "text bold">Canadian Driving Academy</h6><p class = "text">285 Weber St. North Unit #1A<br />Waterloo, Ontario <br />N2J 3H8</p><a href="https://www.google.ca/maps/dir//Canadian+Driving+Academy+Inc.,+285+Weber+St+N+%237,+Waterloo,+ON+N2J+3H8/@43.4735023,-80.551547,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x882bf3f34aa778f9:0x6e19cf6bbb79f48c!2m2!1d-80.522667!2d43.4802095">Click here for directions</a>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: cda,
          map: map,
          title: 'Canadian Driving Academy'
        });
        marker.addListener('click', function() {
        infowindow.open(map, marker);
        });
      }
    </script>
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYOf583hs23xB5vZ7KhC4UjZ1Qy6obmbc&callback=initMap">
  </script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
