<!DOCTYPE HTML>
<html>
<head>
  <!-- custom css -->
  <link rel = "stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel = "stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
</head>
<body>
  <!-- Header -->
  <section class = "header">
    <div class = "row">
      <div class = "container">
        <div class = "col-md-12">
          <h4 class = "top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. (519) 880 0</h4>
        </div>
        <div class = "col-md-6">
          <img class = "logo" src = "/images/logo.jpg" alt = "logo" />
        </div>
      </div>
    </div>
  </section>
  <script src = "/js/bootstrap.min.js">
</body>
</html>
