<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <table class="logo-center">
            <tbody>
              <tr>
                <td><img class="logo-left" src="images/top-banner-left.jpg"></td>
                <td><a href="http://www.canadiandrivingacademy.com/"><img class = "logo-main" src="images/logo.jpg"></a></td>
                <td><img class="logo-road" src="images/flash-bg.jpg" alt="flash background" /></td>
                <td><img class="logo-right" src="images/top-banner-right.jpg"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about-us">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Course Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Testimonials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-12">
          <h3>home</h3>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/bootstrap.min.js">
</body>
</html>
