<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- animation css -->
  <link rel="stylesheet" type="text/css" href="/css/animate.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"></link>

  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <table class="logo-center">
            <tbody>
              <tr>
                <td><img class="logo-left" src="images/top-banner-left.jpg"></td>
                <td><a href="http://www.canadiandrivingacademy.com/"><img class = "logo-main" src="images/logo.jpg"></a></td>
                <td><img class="logo-road" src="images/flash-bg.jpg" alt="flash background" /></td>
                <td><img class="logo-right" src="images/top-banner-right.jpg"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
          <div class = "special-offers">
            <img src = "/images/special-offer-.png" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-8">
          <h4 class = "red text">Services</h4>
          <p class = "text">
            We provide our students with a variety of services. Packages and prices are listed below. <br /><br />For further inquiries, contact us at <span class = "textred">(519) 880-0030</span>
          </p>
          <p class = "bold text"><u class = "text">Courses/Lessons Packages</u></p>
          <div class = "package">
            <h6 class = "textred">Silver Package</h6>
            <ul class = "text">
              <li class = "text">
                10 hours in-car training
              </li>
              <li class = "text">
                20 hours in-class
              </li>
              <li class = "text">
                10 hours home link
              </li>
              <li class = "text">
                One-on-one in car training
              </li>
              <li class = "text">
                Dual brake
              </li>
              <li class = "text">
                Free pick-up, drop off anywhere in Kitchener - Waterloo
              </li>
              <li class = "text">
                Earlier Road Test
              </li>
            </ul>
          </div>
          <div class = "package">
            <h6 class = "textred">Gold Package</h6>
            <ul class = "text">
              <li class = "text">
                15 hours in-car training
              </li>
              <li class = "text">
                20 hours in-class
              </li>
              <li class = "text">
                10 hours home link
              </li>
              <li class = "text">
                One-on-one in car training
              </li>
              <li class = "text">
                Dual brake
              </li>
              <li class = "text">
                Free pick-up, drop off anywhere in Kitchener - Waterloo
              </li>
              <li class = "text">
                Earlier Road Test
              </li>
            </ul>
          </div>
          <div class = "package gray">
            <h6 class = "text">Using our Automatic Vehicle for Road Test</h6>
            <ul class = "text">
              <li class = "text">
                G2 Road Test     <span class = "red">$120.00</span>
                <p class = "caption text">
                  <i class = "caption text fa fa-chevron-right"></i>60 minute lesson + car for for road test
                </p>
              </li>
              <li class = "text">
                G Road Test     <span class = "red">$120.00</span>
                <p class = "caption text">
                  <i class = "caption text fa fa-chevron-right"></i>60 minute lesson + car for for road test
                </p>
              </li>
              <li class = "text">
                G1 Written Test Preperation    <span class = "red">$75.00</span>
              </li>
            </ul>
            <div id = "container">
              <div class = "lambo">
                <img src = "/images/lambo.png"/>
              </div>
                  <a href="registration"><p id = "register" class = "red register-box">Register Now</p></a>
            </div>
          </div>
          <div class = "container">
            <div class = "row">
              <h6 class = "bold text top-pad">
                Individual Lessons<span class = "red text tab">$40 tax included</span>
              </h6>
              <p class = "text">
                When it comes to getting a driving license in Canada, the CDA offers its clients full services to meet with all kind of licensing and permitting requirements. At this professional driving school, we offer our students the following programs, all these programs are designed carefully by some driver training experts. With the established record of success, all these programs have assisted existing and new drivers of every age to improve their driving skills and knowledge.
                <br /> <br />
                All the driving instructs of this professional driving school are graduates on driver instructor program or driving instruction program from the renowned colleges approved by the MTO or the Ontario Ministry of Transportation. Each of the instructors has several years of expertise. The in car lessons which are performed in the car of any instructor, includes:
              </p>
              <ul class ="text">
                <li class ="text">
                  Driving academy sign on roof
                </li>
                <li class ="text">
                  Dual mirrors
                </li>
                <li class ="text">
                  Twin brake pedals
                </li>
                <li class ="text">
                  Fully insured and safety certified
                </li>
              </ul>
              <p class = "text">
                <span class = "bold">CDA</span> offers a driver education program of 40 hours which prepares the new drivers for Level 1 exist test to get G2 license under “Graduated Licensing System”. This driver academy services include:
              </p>
              <ul class ="text">
                <li class ="text">
                  20 hours of theory and classroom instruction
                </li>
                <li class ="text">
                  Minimum 10 hours of private instruction of in car driving
                </li>
                <li class ="text">
                  Extensible homelink activities of 10 hours duration
                </li>
                <li class ="text">
                  One on one training
                </li>
                <li class ="text">
                  Vehicle rental of G1 exit road test
                </li>
                <li class ="text">
                  Early booking of road test
                </li>
                <li class ="text">
                 Availability of easy payment plan
                </li>
              </ul>
              <div>
                <h6 class = "text">Driving Tips:</h6>
                <p class = "text">
                  These are some basic rules of driving which one must follow to ensure a safe driving. A recent study has proved that 50% of the driving accidents in Canada happen due to driving and drinking together. Besides, checking the blind spot while turning or changing the lane is essential to ensure the safety. Make it sure that the car should not go right left at the time of checking the blind spot. Follow all the traffic rules and enjoy a happy and safe journey.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class ="col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
  <script src="/js/wow.min.js"></script>
  <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
