<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="container">
      <a href = "/cn/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "../images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/cn/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/testimonials">Testimonials</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/cn/questions">QnA</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/cn/contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
          <div class = "special-offers">
            <img src = "/images/special-offer-.png" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-8">
          <h4 class = "text red">About Us</h4>
          <p class = "text">
            Canadian Driving Academy Inc. is one of the country’s finest driving schools. We have our branches in different cities of Canada so as to provide more students with the best driving lessons. Our driving schools are located in Waterloo, Cambridge and Kitchener. We offer high quality driver training for beginners, intermediate as well as advanced drivers in Canada. Our website contains all the information about the driving schools and the lessons that are offered by us.
            <br /> <br />
            At <span class = "text bold">Canadian Driving Academy</span> we are dedicated towards our students and we accept drivers from everywhere. The training taken by the students include comprehensive theoretical and practical trainings. After the training is done, we ensure that each and every students of Canadian Driving Academy have the right skill and attitude to become a defensive and safe driver in the near future. We at Canadian Diving Academy Inc. provide driving lessons that are approved by the Canadian Ministry. The instructors who work with us are thoroughly professional and are equipped with all kinds of safety measures.
            <br /> <br />
            Thus we can proudly state that we are the best driving school Canada has ever seen. We have instructors who are very patient with their students and they are thoroughly professional in teaching the students how to drive and how to make safe driving habits. The instructors will help every student prepare for a safe and confident driving for the rest of their lives. We make responsible and defensive drivers. Our driving school in Waterloo is currently offering driving lessons to people from Waterloo and its surrounding areas. The information and brochure is available in our website.
            <br /> <br />
            At Canadian Driving Academy we offer training vehicles that have automatic transmissions, the best driving instructors in Canada. The facilities offered are:
            <ul class ="text">
              <li class ="text">
                Flexible hours for learning
              </li>
              <li class ="text">
                Private car lessons
              </li>
              <li class ="text">
                Professional instructors with great knowledge
              </li>
              <li class ="text">
                M.T.O Approved Driver Education Course
              </li>
              <li class ="text">
                Member of the Driving School Association of Ontario
              </li>
              <li class ="text">
                Cars for Driving Test
              </li>
              <li class ="text">
                After successfully completion of the BDE Graduate course with a Driver Licence History may eligible for the insurance discount.
              </li>
            </ul>
            <span class = "text">Our <span class = "text bold">driving school </span> offer the same packages and driving training for the students. The courses are designed in such a way that it can facilitate an individual driver as well as professional heavy duty vehicles too. However, there are different packages for professional and individual drivers and the tests include both written and practical exams. At Canadian Driving Academy Inc. we offer the best driving training in the country and we provide comprehensive trainings with the packages designed to suit all.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class = "col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="row">
        <div class ="col-md-8">
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
        <div class = "col-md-4 languages">
          <a href = "/eng">English</a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
