<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="container">
      <a href = "/cn/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "../images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/cn/">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/services">服务种类</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/schedule">课程安排</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/registration">注册登记</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/testimonials">教练队伍</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/contact-us">联系方式</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-5">
          <h4 class = "text">欢迎来到<span class= "red"> 加拿大驾驶学院</span></h2>
          <p class = "text">
            &nbsp; &nbsp; &nbsp; &nbsp; 加拿大驾驶学院是一家持有安省政府牌照的专业驾驶学院，已创办十多年，是滑铁卢地区最好的驾校之一，服务区域覆盖滑铁卢、基士拿、剑桥、贵湖等。驾校针对不同的学生提供不同的培训课程，包括初学者、有一定基础和有驾驶经验的学员。驾校所有的课程都符合安省交通部的规定，高质量的教学要求使学员能更全面地掌握安全驾驶技能，通过路考并不是我们唯一的教学目的，安全、合法的驾驶才是我们的教学宗旨。
            <br /> <br />
            <h4 class = "text">为什么选择<span class= "red"> 加拿大驾驶学院</span></h2>
              &nbsp; &nbsp; &nbsp; &nbsp; 加拿大驾驶学院有一个非常专业的教练队伍，提供广东话、普通话、英语服务。每一个教练都持有安省颁发的教练证书，都有多年的驾驶和教车经验，而且都能做到耐心讲解、清晰表达。良好的教学态度为学员提供一个舒适的学车环境。
          </p>
        </div>
        <div class = "col-md-3">
            <img class = "civic-intro" src = "/images/civic.png"/>
            <img class = "classroom-intro" src = "/images/front-door.png" />
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class = "col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="row">
        <div class ="col-md-8">
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
        <div class = "col-md-4 languages">
          <a href = "/eng">English</a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
   <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
