<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  <!-- Datepicker script -->
  <script>
    $(function(){
      $("#datepicker").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true
      });
    });
  </script>
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="container">
      <a href = "/cn/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "../images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/cn/">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/services">服务种类</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/schedule">课程安排</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/registration">注册登记</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/testimonials">教练队伍</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cn/contact-us">联系方式</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
          <div class = "special-offers">
            <img src = "/images/special-offer-.png" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-5">
          <form id = "registrationForm" method = "post" action ="formProcess">
            <h4 class = "text red">登记</h4>
            <h6 class = "bold text">请完成以下表格:</h6>
            <div class="form-group">
              <label for="inputsm" required = "true">
                <p class = "text">
                名
                </p>
              </label>
              <input class="form-control input-sm text" id="inputsm" type="text" name = "firstName" autofocus required placeholder="名">
            </div>
            <div class="form-group">
              <label for="inputsm">
                <p class = "text">
                姓
                </p>
              </label>
              <input class="form-control input-sm text" id="inputsm" type="text" name = "lastName" required placeholder="姓">
            </div>
            <div class="form-group">
              <label for="inputsm">
                <p class = "text">
                电话号码
                </p>
              </label>
              <input class="form-control input-sm text" id="inputsm" type="text" name = "number" required placeholder="电话号码">
            </div>
            <div class="form-group">
              <label for="inputsm">
                <p class = "text">
                邮箱
                </p>
              </label>
              <input class="form-control input-sm text" id="inputsm" type="text" name = "email" required placeholder="邮箱">
            </div>
            <div class="form-group">
              <label for="course-selection">
                <p class = "text">
                  课程选择
                </p>
              </label>
              <select class="form-control" name = "course" id="course-selection">
                <option name = "course" value = "全科课程"><p class = "text">全科课程</p></option>
                <option name = "course" value = "G2"><p class = "text">G2</p></option>
                <option name = "course" value = "G"><p class = "text">G</p></option>
                <option name = "course" value = "G1 理论"><p class = "text">G1 理论</p></option>
              </select>
            </div>
            <div class = "form-group">
              <p class = "text">
                计划什么时候开始
              </p>
              <input type = "text" name = "计划什么时候开始" class = "form-control text" id = "datepicker" placeholder="日期"/>
            </div>
            <div class="form-group">
              <label for="sel1">
                <p class = "text">
                  如何找到我们
                </p>
              </label>
              <select class="form-control" name = "find" id="sel1">
                <option><p class = "text" name = "find" value = "网上">网上</p></option>
                <option><p class = "text" name = "find" value = "朋友推荐">朋友推荐</p></option>
                <option><p class = "text" name = "find" value = "其他">其他</p></option>
              </select>
            </div>
            <div class = "form-group">
              <button type="submit" class="btn btn-primary register-submit" onclick = "this.blur()" action = "submit">提交 <i class = "fa fa-check" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
        <div class = "col-md-3">
            <img class = "civic-intro" src = "/images/civic.png"/>
            <img class = "classroom-intro" src = "/images/front-door.png" />
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class = "col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="row">
        <div class ="col-md-8">
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
        <div class = "col-md-4 languages">
          <a href = "/eng">English</a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
