<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  <!-- Datepicker script -->
  <script>
    $(function(){
      $("#datepicker").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true
      });
    });
  </script>
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="container">
  <a href = "/eng/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "../images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/eng/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/testimonials">Testimonials</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/eng/questions">QnA</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/eng/contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <a href = "registration" class ="special-register">
            <div class = "package-bold">
              <h2 class = "text red">Reading Week Special</h6>
              <ul class = "text special">
                <li class = "text bold list-none">
                  Full Course $460 Incl. Tax
                </li>
                <li class = "text bold list-none">
                  Call Now (519) 880-0030
                </li>
                <li class = "text bold list-none">
                  Limited Seats Available!
                </li>
                <li class = "text bold red center list-none">
                  Register Now!
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class = "col-md-5">
            <h4 class = "text red">Registration</h4>
            <p class = "text">
              Registration Completed! Click <a href = "/" class = "text red return">here</a> to return to home
            </p>
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class = "col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="row">
        <div class ="col-md-8">
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
        <div class = "col-md-4 languages">
          <a href = "/cn">中文</a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
