<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="container">
  <a href = "/eng/">
        <div class="col-md-12 header-hover">
          <div class="row logo">
              <img class = "volkswagen" src = "../images/volkswagen.png" />
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class = "navigation-bar">
    <div class = "container">
      <div class = "row">
        <div class ="col-md-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/eng/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/questions">QnA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eng/contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <div class = "col-md-4 test-container">
          <div class = "btn-road-test">
            <a href = "https://drivetest.ca/book-a-road-test/" target ="_blank" class = "btn btn-road-link"><h3><i class = "fa fa-id-card-o" aria-hidden="true"></i> Road Test Booking</h3></a>
          </div>
          <div class = "group-discounts">
            <img src = "/images/group-discounts-.jpg" class = "discount-img"/>
          </div>
          <div class = "special-offers">
            <img src = "/images/special-offer-.png" class = "discount-img"/>
          </div>
        </div>
        <div class = "col-md-5">
          <h4 class = "text">Welcome to <span class= "red"> Canadian Driving Academy</span></h2>
            <h6 class = "bold text">
              Why choose Canadian Driving Academy as your driving education provider?
            </h6>
            <p class = "text">We offer high quality driver training for beginners, intermediates, and advanced drivers. We are dedicated to serving students from all walks of life and ensuring they learn the skills and attitude necessary to become safe and defensive drivers.
            </p>
          <h6 class ="text red">About Canadian Driving Academy</h6>
          <p class = "text">
            Canadian Driving Academy provides Ministry Approved Driving Education Courses to all students. We provide our students with fully qualified instructors who are patient, professional and knowledgeable. Our instructors will prepare you for a lifetime of safe driving and ensure that you have the confidence to drive defensively and responsibly.
          </p>
          <h6 class = "text red">Why Choose Us?</h6>
          <ul class ="text">
            <li class ="text">
              All vehicles use automatic transmission
            </li>
            <li class ="text">
              Complete Drivers Education Course
            </li>
            <li class ="text">
              Private in-car lessons
            </li>
            <li class ="text">
              Professionally trained instructors
            </li>
            <li class ="text">
              Cars available to clients for driving test
            </li>
            <li class ="text">
              Member of the Driving School Association of Ontario
            </li>
            <li class ="text">
              M.T.O Approved Driver Education Course
            </li>
            <li class ="text">
              Felixible Hours
            </li>
            <li class ="text">
              Pick-up and Drop-off (Anywhere in Kitchener/Waterloo)
            </li>
            <li class ="text">
              BDE Graduates with a Driver's Licence History may be eligible for an insurance discount.
            </li>
          </ul>
        </div>
        <div class = "col-md-3">
            <img class = "civic-intro" src = "/images/civic.png"/>
            <img class = "classroom-intro" src = "/images/front-door.png" />
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <div class = "container">
      <div class="row">
        <div class = "col-md-12">
          <img class ="footer-line" src = "/images/footer-line.jpg"/>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="row">
        <div class ="col-md-8">
          <p class = "copyright">
            Canadian Driving Academy Inc. &copy; 2017
          </p>
        </div>
        <div class = "col-md-4 languages">
          <a href = "#">中文</a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
   <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
