<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" />
  <title>CDA - Login</title>
  <meta name = "viewport" content="width=device-width, initial-scale = 1, user-scalable = no" />
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/animate.css"/>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>
<body class = "centered-form">
  <div class = "centered-form__form">
    <form action = "login" method="post">
      <div class = "form-field">
        <h3>Login - CDA</h3>
      </div>
      <div class = "form-field">
        <label>Username</label>
        <input type = "text" name = "name" autofocus />
      </div>
      <div class = "form-field">
        <label>Password</label>
        <input name = "pass" type = "password"/>
      </div>
      <div class = "form-field">
        <button class = "register-primary" action = "submit" id = "login">Login <i class = "fa fa-check" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="/js/randomseed.js"></script>
</body>
</html>
