<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <title>Canadian Driving Academy</title>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,800i,900|Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">
  <!-- JQuery Google host -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
</head>

<body>
  <!-- Header -->
  <section class="header">
    <% include ./partials/header %>
  </section>
  <section class = "navigation-bar">
    <% include ./partials/nav-bar %>
  </section>
  <section class = "home">
    <div class ="container">
      <div class ="row">
        <% include ./partials/left-advert %>
        <div class = "col-md-8">
          <h4 class = "red">Course Schedule</h4>
          <p class = "text">
            Register online for day, evening or weekend classes. First come first served basis, so <a href="registration" class = "text red register-link">Register Now!</a>
          </p>
          <h6 class = "red text">
          Call for further details about in class lessons
          </h6>
          <p class = "text">
            With the development of modern world there took a lot of innovations to cope up with the needs of the people in today’s life. Time is the most important factor in anyone’s life and people in modern days are always in the attempt to save a lot of time with less difficulty. A car being one of the examples of saving time procedure with effective cut-expanse way, is perhaps one of the most crucial needs of today’s life.
            <br /><br />
            Not just having a car ends the problem of saving time, but it also allows saving money too. Driver education is one of the options that serve to all, so as to make driving a car very easy. Not only for working people, but also homemakers and even students need driving to learn. This helps in providing basic knowledge of driving with quality training. There are even bunches of student driving academy, which can be hit upon with who take special care for the students.
            <br /><br />
            Deciding to go for the driving course? Then the <span class = "red text">Canadian Driving Academy Inc.</span> is the best place for anyone and everyone. It not only offer quality driving sessions to all types of drivers from beginners, intermediate to the advanced drivers, but also provides opportunity to ensure skillful learning as well as safe attitudes for the driving.
            <br /><br />
            This driver training school provides various ways of learning to drive. It not only provide on road driving sessions, but also train with basic theories that might be required in any point of the life while driving.
            <br /><br />
            <span class = "text bold">E-mail us through the registration tab if you have any further questions, or if you would like to book a session.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class = "footer">
    <% include ./partials/footer %>
  </section>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom animation js -->
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
</body>
</html>
