/*small devices*/
@media only screen and (max-width: 767px){
  .volkswagen{
    display: none;
  }
}

/*small devices and tablets*/
@media only screen and (max-width: 768px){
  .volkswagen{
    display: none;
  }
}

/*Generic CSS*/

* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #EDECEC !important;
}

a, a:hover{
  text-decoration: none !important;
}

.p {
  font-size: 12px;
}

.red, .text {
  line-height: 125% !important;
  text-transform: none !important;
}

.red {
  color: #e71d26;
}

.bold {
  font-weight: bolder;
}

.caption{
  color: #b7b7b7 !important;
  font-size: 14px !important;
  padding-left: 20px;
  margin-bottom: 1px;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.43em;
}

/*Logo and Top Slogan*/

h4.top-bar{
  font-size:20px;
  text-align: center;
}

.logo{
  width: 100%;
  height: 280px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/headerpic.PNG");
}

.volkswagen{
  width: 81px;
  height: 53px;
  position: absolute;
  top: 140px;
  left: 1000px;
  box-shadow: inset -250px 0 50px 10px transparent;

}
img {
  width: 100%;
}


/*navigation bar*/

li.nav-item {
  margin-top: 10px;
  padding-left: 5px;
}

a.nav-link, a.nav-link:visited {
  font-size: 16px;
  background-color: grey;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 14px;
}

a.nav-link:hover {
  color: white;
  background-color: #e71d26;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

a.nav-link:active {
  color: #e71d26;
}

li.nav-item {
  width: 100%;
}


/*Home styling*/

.home {
  padding-top: 20px;
}

.test-container {
  padding-top: 5px;
  padding-left: 19px !important;
}

.btn-road-test, .btn-road-test:active, .btn-road-test:visited {
  text-decoration: none !important;
  text-align: center;
  color: #e71d26 !important;
  border: 1px solid #e71d26;
  background: transparent;
  border-radius: 14px;
  margin-bottom: 10px;
}

.btn-road-link, .btn-road-link:visited, .btn-road-link:active {
  width: 100% !important;
  color: #e71d26 !important;
  margin-top: 4px;
}

.btn-road-test:hover {
  background-color: #e71d26;
}

.btn-road-link:hover {
  color: white !important;
}

a>h3 {
  font-size: 16px;
  font-weight: 500;
}

.discount-img {
  border-radius: 23px;
  margin-bottom: 10px;
}

li.text {
  padding-left: 23px;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.43em;
}

.civic-intro {
  width: 100%;
  padding-top: 42px;
}

.classroom-intro {
  width: 100%;
  padding-top: 210px;
}

/*Services*/
.package{
  border: 1px solid #e71d26;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 15px;
}

div.gray{
  border-color: gray !important;
}

div.gray:hover{
  border: 1px solid #e71d26 !important;

}
.tab{
  margin-left: 70px;
  text-align: right;
  display: inline-block;
}

.tab-less{
  /*margin-left: 30px !important;*/
}

.lambo{
  width: 15%;
  margin-left: 0;
  z-index: 10;
  padding-right: 10px;
}

#container{
  position: relative;
}

.lambo, .underlay{
  top: 0;
  left: 0;
  position: absolute;
  padding-bottom: 2px;
}

#register{
  display: inline-block;
  text-align: center;
  text-indent: -200px;
  left: 0;
  white-space: nowrap;
  z-index: 0;
  overflow: hidden;
  padding-top: 8px;

}

.top-pad{
  padding-top: 15px;
}

.register-box{
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

/*Schedule*/
.register-link{
  text-decoration: none !important;
}

.register-link:hover{
  color: #e71d26;
}

/*Contact Us*/
#map{
  height: 300px;
  Width: 100%;
}

/*Registration*/
label > p.text{
  padding: 0;
  margin: 0;
}

.form-control{
  padding: 5px !important;
}

option{
  text-transform: none !important;
}

.register-submit, .register-submit:active, .register-submit:focus{
  background-color: transparent !important;
  border: 1px solid #e71d26 !important;
  color: #e71d26 !important;
}

.register-submit:hover{
  background-color: #e71d26 !important;
  border: 1px solid #e71d26 !important;
  color: white !important;
}

/*completed registration*/
.return, .return:active, .return:visisted{
  text-decoration: none !important;
}

.return:hover{
  text-decoration: none !important;
}

/*QnA */
#questions{
  padding-bottom: 150px !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

li.comment{
  list-style: none;
}

.comment{
  /*border: 1px solid #e71d26;*/
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 10px !important;
  text-indent: 5px !important;
  line-height: 1.4;
}

.profile-pic{
  width: 7%;
  padding-right: 20px;
}

.user-name{
  font-weight: 600;
  /*color: #e71d26;*/
  color: #21abc7;
  font-size: 18px;
}

.user-question{
  margin-left: 7%;
  line-height: 1.5;
  font-weight: 300;
  color: #393d40;
  padding-top: 2px;
}

button.reply, button.delete{
  text-align: right;
  color: #e71d26;
  font-weight: 600;
  margin-left: 608px;
}

button.delete{
  margin-top: 5px;
}

/*admin response page*/


/*footer*/
.footer-line {
  width: 100%;
  height: 15px;
}

.copyright {
  font-size: 12px !important;
}

.languages {
  font-size: 12px;
  text-align: right;
}
