/*Generic CSS*/

* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #EDECEC !important;
}

.p {
  font-size: 12px;
}

.red, .text {
  line-height: 125% !important;
  text-transform: none !important;
}

.red {
  color: #e71d26;
}

.bold {
  font-weight: bolder;
}

.caption{
  color: #b7b7b7 !important;
  font-size: 14px !important;
  padding-left: 20px;
  margin-bottom: 1px;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.43em;
}

/*Logo and Top Slogan*/

.top-bar {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.logo-left {
  border-bottom-left-radius: 70%;
}

.logo-right {
  border-bottom-right-radius: 70%;
}

.logo-left, .logo-right {
  width: 12px;
  height: 260px;
  background-color: #EDEDEC;
}

.logo-main {
  width: 425px;
  height: 260px;
  border: 0;
}

.logo-road {
  width: 531px;
}

.logo-center {
  width: 100%;
  border: 0;
  padding: 0;
  border-spacing: 0;
  text-align: center !important;
  background-color: #EDECEC !important;
}

img {
  width: 100%;
}


/*navigation bar*/

li.nav-item {
  margin-top: 10px;
  padding-left: 5px;
}

a.nav-link, a.nav-link:visited {
  font-size: 16px;
  background-color: grey;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 14px;
}

a.nav-link:hover {
  color: white;
  background-color: #e71d26;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

a.nav-link:active {
  color: #e71d26;
}

li.nav-item {
  width: 100%;
}


/*Home styling*/

.home {
  padding-top: 20px;
}

.test-container {
  padding-top: 5px;
  padding-left: 19px !important;
}

.btn-road-test, .btn-road-test:active, .btn-road-test:visited {
  text-decoration: none !important;
  text-align: center;
  color: #e71d26 !important;
  border: 1px solid #e71d26;
  background: transparent;
  border-radius: 14px;
  margin-bottom: 10px;
}

.btn-road-link, .btn-road-link:visited, .btn-road-link:active {
  width: 100% !important;
  color: #e71d26 !important;
  margin-top: 4px;
}

.btn-road-test:hover {
  background-color: #e71d26;
}

.btn-road-link:hover {
  color: white !important;
}

a>h3 {
  font-size: 16px;
  font-weight: 500;
}

.discount-img {
  border-radius: 23px;
  margin-bottom: 10px;
}

li.text {
  padding-left: 23px;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.43em;
}

.civic-intro {
  width: 100%;
  padding-top: 42px;
}

.classroom-intro {
  width: 100%;
  padding-top: 210px;
}

/*Services*/
.package{
  border: 1px solid #e71d26;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 15px;
}

div.gray{
  border-color: gray !important;
}

.tab{
  /*margin-left: 70px;*/
  text-align: right;
  width: 40%;
  display: inline-block;
}

.tab-less{
  /*margin-left: 30px !important;*/
}

.lambo{
  width: 15%;
  margin-left: 0;
}
/*footer*/

.footer-line {
  width: 100%;
  height: 15px;
}

.copyright {
  font-size: 12px !important;
}
