<div class = "container">
  <div class="row">
    <div class = "col-md-12">
      <img class ="footer-line" src = "/images/footer-line.jpg"/>
    </div>
  </div>
</div>
<div class = "container">
  <div class="row">
    <div class ="col-md-8">
      <p class = "copyright">
        Canadian Driving Academy Inc. &copy; 2017
      </p>
    </div>
    <div class = "col-md-4 languages">
      <a href = "/cn">中文</a>
    </div>
  </div>
</div>
