<!-- Header -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="top-bar">M.T.O. Approved B.D.E Course Provider, Located in the heart of Kitchener-Waterloo. Call: (519) 880 0030</h4>
    </div>
  </div>
</div>
<div class="container">
  <a href = "/eng/">
    <div class="col-md-12 header-hover">
      <div class="row logo">
          <img class = "volkswagen" src = "../images/volkswagen.png" />
      </div>
    </div>
  </a>
</div>
